
#container {
    width: 490px;
    height: 730px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: #dddddd;
}
#left {
    float:left;

}

#textarea {
    width: 465px;
    height: 100px;
    margin: 10px;
    font-size: 40px;
    border: 2px solid black;
    background-color: white;
}

.buttons {
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 40px;
}

.button0 {
    height: 100px;
    width: 222px;
    border: 2px solid black;
    margin: 10px;
    font-size: 40px;
}

.plus {
    margin: 10px;
    width: 100px;
    height: 220px;
    border: 2px solid black;
    font-size: 50px;
}

.minus {
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 50px;
}

#bottom {
    clear: both;
}

.buttons2 {
    height: 100px;
    width: 140px;
    border: 2px solid black;
    margin: 10px;
    font-size: 40px;
}